            <div class="row question-header">
                <!-- <a class="question-header-link" href="#" title="questoin header"></a> -->
                <h3>{{post.title}}</h1>
            </div>
            <div class="row">
                <div class="mainbar col-sm-12 col-md-8">
                    <div id="questoin-id" class="question">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="votecell">
                                        <!-- post id is the identifier for this post -->
                                        <div class="vote">
                                            <a class="vote-up-on" title="This question shows research effort; it is useful and clear">up vote</a>
                                            <span itemprop="upvoteCount" class="vote-count-post">{{post.vote}}</span>
                                            <a class="vote-down-off" title="This question does not show any research effort; it is unclear or not useful">down vote</a>
                                        </div>
                                    </td>
                                    <td class="postcell">
                                        <div>
                                            <div class="post-text">
                                                <p>{{post.body}}</p>
                                            </div>
                                            <div class="post-taglist">
                                                
                                            </div>
                                            <div class="row share-and-userInfo" style="padding-left: 15px;">
                                                <div class="col-sm-4 share-box">
                                                    <!-- begin facebook share button -->
                                                    <div class="fb-share-button"
                                                        data-href="http://localhost:8000/"
                                                        data-layout="button_count">
                                                    </div>
                                                    <!-- end facebook share button -->
                                                </div>
                                                <div class="col-sm-4 postInfo-box">
                                                    <p>{{post.date}}</p>
                                                </div>
                                                <div class="col-sm-4 userInfo-box">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <img class=" user-icon" src="../image/Tianxiao2.jpg" alt="">
                                                        </div>
                                                        <div class="user-name">
                                                            <p style="margin-bottom: 0;">{{post.username}}</p>
                                                            <p>Points:{{post.userpoints}}</p>
                                                        </div>
                                                        <div class="user-info">
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>

                    {{#each answer}}
                    <div id="answer-id" class="answer">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="votecell">
                                        <div class="vote">
                                            <a class="vote-up-on" title="This question shows research effort; it is useful and clear">up vote</a>
                                            <span itemprop="upvoteCount" class="vote-count-post">{{vote}}</span>
                                            <a class="vote-down-off" title="This question does not show any research effort; it is unclear or not useful">down vote</a>
                                        </div>
                                    </td>
                                    <td class="postcell">
                                        <div class="post-text">
                                            <p>{{body}}</p>
                                        </div>
                                        <div class="post-taglist">
                                            
                                        </div>
                                        <div class="row share-and-userInfo">
                                            <div class="col-sm-4 share-box">
                                                <div class="fb-share-button"
                                                    data-href="http://localhost:8000/"
                                                    data-layout="button_count">
                                                </div>
                                            </div>
                                            <div class="col-sm-4 postInfo-box">
                                                <p>post date: {{date}}</p>
                                            </div>
                                            <div class="col-sm-4 userInfo-box">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <img class=" user-icon" src="../image/Tianxiao2.jpg" alt="">
                                                    </div>
                                                    <div class="col-sm-8 user-name">
                                                        <p style="margin-bottom: 0;">{{username}}</p>
                                                        <p>Points: {{userpoints}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="votecell"></td>
                                    <td>
                                        <div id="comments-id(this id should be the parent anwser's id)">
                                        {{#each comments}}
                                            <div id="comment-id" class="comment">
                                                <span>
                                                {{body}} - </span><a href="#" title="comment user">{{username}}</a>
                                            </div>
                                        {{/each}}
                                            
                                            <div class="add-comment comment">
                                                <button id="add-comment-btn" title="add your comment">add your comment</button> 
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {{/each}}
                </div>
                <div class="sidebar hidden-sm col-md-4">
                    
                </div>
            </div>
            <h3>Your Answer</h3>
            <!-- post window with markdown -->
            <form action="/answering" method="post" id="answer-form">
                <div class="form-group col-sm-7">
                    <input class="form-control" name="title" type="text" placeholder="Answer Title">
                    
                </div>

                <div class="form-group col-sm-7 hideen">


                    <input hidden name="postid" type="text" value="{{post._id}}">                    
                </div>


                <textarea id="inputField" ondragenter='rangeEnterHandler(event)' ondrop='dropHandler(event)' data-width="700" name="body" id="status-box" data-provide="markdown" rows="10"></textarea>
               {{!--  <label class="checkbox">
                    <input name="publish" type="checkbox"> Publish
                </label> --}}
                <hr/>
                <button type="submit" class="btn">Submit</button>
            </form>
            <!-- endpost window with markdown -->
           
