<h1>User:</h1>
<p>
	 {{alias}}
</p>
<h2>Username: </h2>
<p>
	{{username}}
</p>
<h2>First Name:</h2>
<p>
	{{firstName}}
</p>
<h2>Last Name:</h2>
<p>
    {{lastName}}
</p>
<h2>Profession:</h2>
<p>
    {{profession}}
</p>
<h2>Bio:</h2>
<p>
    {{bio}}
</p>